.myInlineDecoration {
  color: "red";
  background-color: rgb(88, 30, 30);
}

.myGlyphMarginClass {
  background: red;
}
.myContentClass {
  /* Make sure to use transparent colors for the selection to work */
  /* background: rgba(173, 216, 230, 0.5); */
}

table {
  border-collapse: collapse;
  font-family: monospace;
  font-size: 14px;
  width: 100%;
}

th,
td {
  border: 1px solid #333;
  padding: 4px 2px;
}
